<% include ./partials/header%>
<h1>This is register page!!</h1>
<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>SignUp</button>
</form>
<% include ./partials/footer%>