body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: rgb(177, 36, 36);}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #4b1b9e;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff0095;}
  
.beg{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 600px;
    text-align: center;
    padding-top: 10px;
    color: antiquewhite;
}
  .beg1{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 600px;
    text-align: center;
    padding-top: 10px;
    color: antiquewhite;
  }
  .beg2{
    position: relative;
    margin-left: 20px;
    margin-right: 735px;
}
.clearfix() {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  .img-circle{
    position: absolute;
    top:100px;
    right: 150px;
    float:right;
    
}
.beg3{
    position: relative;
    margin-left: 500px;
    margin-right: 500px;
}
.beg4{
    text-align: center;
}

.beg5{
    text-align: center;
}
.beg6{
position: absolute;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 650px;
    color: antiquewhite; 
    width: 50%;
    bottom:70px;
    
}
.form-group{
    width: 300px;
}
.beg7{
    position: relative;
    margin-left: 0.5px;
    margin-right: 850px;
}