.round{
	position: relative;
	width:250px;
	height:250px;
	margin-top: 150px;
	border:1px solid black;
	border-radius:150px;
	background: #F4D03F;
}

.eye1{
	
	width:40px;
	height:40px; 
	margin-top: 70px;
	margin-left:-100px;
	border-radius: 150px;
	background: black;
}

.eye2{
	width:40px;
	height:40px; 
	margin-top: -40px;
	margin-right:-100px;
	border-radius: 150px;
	background: black;
}
.mouth{
	height:35px; 
	width: 100px;
	margin-top: 50px;
	border-radius:270px;
	background: black;
}

@media screen and (min-width:480px){
	.eye1{
		width:5px; 
		
}
	}
	
	@media screen and (min-width:480px){
	.eye2{
		width:5px; 
		
}
	}

	@media screen and (min-width:480px){
	.mouth{
		width:20px; 
		
}
	}




