<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome to Yelp Camp!!</h1>
        <p>View our campgrounds!!</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new Campground!!</a>
        </p>
        </div>
    </header>


<div class="row text-center" style="display:flex; flex-wrap:wrap;">
<% for(var i=0;i<campGroundList.length;i++){ %>
<div class="col-md-3 col-sm-6">
    <div class="thumbnail">
         <image src="<%= campGroundList[i].image %>">
    <div class="caption">
                <h4><%= campGroundList[i].name %></h4>
    </div> 
    <a href="/campgrounds/<%=campGroundList[i]._id %>" class="btn btn-primary"> View Details</a>
    </div>
</div>

<% } %>
</div>
</div>

<% include ../partials/footer %>
